.console {
  align-items: center;
  background-color: var(--gray-4);
  border-radius: 20px;
  border: 10px solid var(--gray-3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;

  .screen {
    background-color: var(--white);
    border-radius: var(--border-radius);
    border: 5px solid var(--gray-0);
    height: 600px;
    width: 1024px;
  }

  .controls {
    display: flex;
    gap: 20px;
    height: 300px;
    justify-content: space-between;
    padding-top: 20px;
    width: 100%;

    .log {
      width: 100%;
    }

    .buttons {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .button {
        background-color: var(--gray-3);
        border-radius: var(--border-radius);
        border: 2px solid var(--gray-1);
        color: var(--white);
        cursor: pointer;
        font-size: 18px;
        height: 40px;
        width: 300px;

        &:hover {
          background-color: var(--gray-2);
        }

        &:active {
          background-color: var(--gray-1);
        }
      }
    }
  }
}
